<%-include("partials/header")-%>
    
    <div class="container">
         
        <%  posts.forEach(function(post){ %> 
          <div class="ContPostMin">
            <div class="identity">
              <div class="identityImg">
                <img src="/img/person-male.png" alt="<%=post.Fname%>">
              </div>
              <div class="identityInfo">
                <h4><%=post.PostTitel%></h4>
                <p>✍️<%=post.Fname%> <%=post.Lname%></p>
              </div>
            </div>
              <div id="shortCont" >
                 <p><%=post.PostCont%></p>
                 <div class="hideBottom">
                    <a href="/posts/<%=post.PostTitel%>/rrt234<%=post.ID%>">Read more</a>
                 </div>
              </div>
              <div class="overView">
                <div><i class="far fa-thumbs-up"></i> 10</div>
                <div><i class="far fa-thumbs-down"></i> 2</div>
                <div><i class="far fa-comment-dots"></i> 5</div>
              </div>
          </div> 
        <%  })  %>
          
    <%-include("partials/footer")-%>





